@{
    ViewData["Title"] = "Privacy Policy For The Developers";
    ViewData["author"] = "kodega";
}
<h1>@ViewData["Title"]</h1>
<p>Developed By @ViewData["author"]</p>

<p>Use this page to detail your site's privacy policy.</p>
